[user]
  name = Lincoln Ritter
  email = lincoln@animoto.com
[color]
	ui = true
[push]
	default = simple

[github]
  token = ca46b786680594f9803332bc5284658094a17aec

[alias]
	update = "pull --rebase origin master "
