[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = Lincoln Ritter
	email = lincoln@firehydrant.io
[color]
	ui = true
[push]
	default = current
	autoSetupRemote = true
[alias]
	ds = diff --cached
	update = "pull --rebase origin main"
	rb = !git-recent-branches
	purge-local = !git checkout main && git branch -l --merged | grep -vE 'main|master|staging' | xargs git branch -d && git checkout -
	stash-all = !git stash push -u -m
[pull]
	rebase = true
[core]
	excludesFile = ~/.gitignore_global
